/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

nav ul a,
nav .brand-logo {
    color: #444;
}
.avatar{
    width: 45px; 
    margin-top:8px;
}

.profileavatar {
    margin-top: 50px;
    width:200px;
}

.foot {
    margin-top: 20px;
}

p {
    line-height: 2rem;
}

.slider-css {
    height: 80vh !important;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 200px;
    line-height: 0;
    height: 100vh;
    color: rgba(255,255,255,.9);
}

.notes_header {
    height: 40vh !important;
}

.parallax-container .section {
    width: 100%;
    height: auto;
}

img.logos {
    width: 300px; !important;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
    }

    h1.header {
        font-size: 2.5em !important;
        text-align: center !important;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }

    h1.header {
        font-size: 2.5em !important;
        text-align: center !important;
    }

}

@media only screen and (max-width : 375px) {
    img.profileavatar {
        width: 70vw !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    h2 {
        font-size: 3em;
    }

}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin-top: 50px !important;
    margin: 0;
}

.main-content{
    font-size: 2em;
    text-align: justify;
}

p {
    line-height: 1em;
    text-indent: 2em;
}

.code-sample {
    border-radius: 25px;
    background-color:gainsboro;
    padding: 20px;
    font-family: monospace;
    text-align:left;

}
.code-comment{
    color: darkgray;
}

.pnotice {
    font-size: 0.75em;
}


